@charset "utf-8";
@import url("reset.css");
a:hover{text-decoration:none;}
a{text-decoration:none;color:#999;}
body{font-family:Georgia,Tahoma,"Microsoft YaHei",SimSun;font-size:12px;}
/*img{vertical-align:middle;margin-top:-4px;}*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}

#desc p{color:#999;}
#desc{width:400px;margin:10px auto;}
#qq_mini_wrapper{position:relative;width:250px;margin:0 auto;background-color:#d6d9db;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;z-index:999;}
div.box_shadow_l{-webkit-box-shadow:0px 2px 4px #858e91;-moz-shadow:0px 2px 4px #858e91;box-shadow:0px 2px 4px #858e91;}
div.box_shadow_h{-webkit-box-shadow:0px 4px 4px #858e91;-moz-shadow:0px 4px 4px #858e91;box-shadow:0px 4px 4px #858e91;}
.title_bar{height:28px;line-height:28px;padding-top:12px;}
#close_btn{height:10px;width:10px;margin-left:8px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;background-color:#fff;background:-moz-linear-gradient(top, #dedede, #fffff 100%);background:-webkit-gradient(linear, 0 0, 0 100%, from(#dedede), to(#ffffff));border:1px solid #adafb0;}
#close_btn:hover{height:12px;width:12px;margin-left:8px;background:url(../images/close_btn.png) no-repeat top center;}
.qq_thumb img {-moz-border-radius:114px;-webkit-border-radius:114px;border-radius:114px;}
.qq_thumb{width:114px;height:114px;margin:0 auto;padding:4px;border:1px solid #ced0d3;-moz-border-radius:114px;	-webkit-border-radius:114px;border-radius:114px;background-color:#fff;box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);}
#qq_status{width:250px;height:15px;line-height:15px;margin:12px auto;text-align:center;}
#qq_status span{display:none;}
#qq_status span.on{display:inline;}
.login_box{width:214px;height:75px;border:1px solid #999ca1;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;margin:10px auto;background-color:#fff;text-align:center;font-size:16px;}
.login_box input{width:212px;height:36px;border:none;text-indent:2em;}
input.qq_id{border-bottom:1px solid #999ca1;}
input.qq_pswd{width:168px;float:left;height:34px;}
.login_box span#login{line-height:34px;height:34px;display:inline-block;vertical-align:top;float:right;padding:7px 0px;padding-right:20px;}
#show_more{width:28px;height:12px;margin:0 auto;padding:18px 0px 10px 0px;}
#show_more span{display:none;}
#show_more span.on{display:inline;}
#advanced_setting{position:relative;width:250px;height:76px;margin:0 auto;margin-top:-4px;background-color:#bac2c4;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;z-index:100;}
div.as_off{display:none;}
.blank_height{width:250px;height:10px;}
.as_box{width:200px;height:46px;margin:0px auto;}
ul.as_box li{height:28px;line-height:28px;display:inline-block;width:200px;color:#636c73;}
ul.as_box li span.left{float:left;}
ul.as_box li span.right{float:right;width:70px;height:18px;line-height:18px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;border:1px solid #636c73;text-align:center;}
ul.as_box li span.right a{color:#636c73;}